/* Part C - Table enhancement using external CSS */

.trip-table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
}

.trip-table th {
    background-color: #2c3e50;
    color: white;
    padding: 10px;
    text-align: center;
    border: 1px solid black;
}

.trip-table td {
    padding: 10px;
    border: 1px solid black;
    background-color: #f2f2f2;
}
fieldset {
    border: 2px solid blue;
    width: 50%;
    padding: 5px;

}
legend{
    color: blue;
}


.foot{
    background-color: rgb(154, 202, 216);
    height: 20%;
}
